{% extends "base.html" %}
{% block title %}Gabriel hoveside{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }

</style>
{% endblock %}
{% block content %}
<h1>Gabriel hovedside</h1>

Gabriel er en <a ref="https://en.wikipedia.org/wiki/CTD_(instrument)">CTD</a> som ligger i Store Lungegårdsvannet - Bergen.
Bøyen logger data om temperatur, salt, mm. med jevne mellomrom.

Denne nettsiden er designet for å gjøre det enklere å visualisere data fra Gabriel.
Serveren som kjører nettsiden henter data fra Gabriel med jevne mellomrom så data som vises er nesten alltid "up to date".

For å komme fort i gang med å anbefaler vi så se på <a href="{{ url_for('allgraphs') }}">grafene</a>.
Grafene gir deg anledning til å zoome inn og vise detaljer. Oppløsningen på dataene er hver 3 time!

<!--
Videre er det mulig å laste ned data fra server til programmer du kan kan kjøre selv.
Disse programmene ligger på <a href="https://github.com/njberland/SkramDykk/tree/master/notebooks">Skramdykk notebooks</a>.
Programmene vil selv hente data fra denne serveren.
-->

<h2>Grafer</h2>

<a href="{{ url_for('allgraphs') }}">Grafene i 2D for alle typer målinger for hele levetiden til Gabriel
</a>


<h2>Statistikk for dykkene</h2>

<a href="{{ url_for('stats') }}">Antall dykk pr dag</a>

<h2>Lufttemperatur for bøyen</h2>


<a href="{{ url_for('airtempgraphs') }}">Gjennomsnittstemperatur pr døgn for bøyen</a>.


<h2>Lenker</h2>

All kode ligger på <a href="https://github.com/njberland/SkramDykk">GitHub</a>


{% endblock %}
